header {
  display: flex;
  justify-content: center;
  margin-block: 1.5rem 3.875rem;
}

.header-content {
  h1 {
    margin-block: 1rem 2.75rem;
  }
}

form {

  & .input-action {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2.5rem;

    & #input {
      width: 451px;
      padding: .75rem;
      border-radius: 0.75rem;
      border: 3px solid var(--border-primary);
    }
    
    #input::placeholder {
      color: var(--content-tertiary);
      font-size: 1rem;
    }
    
    & button {
      border: none;
      background-color: var(--color-brand);
      cursor: pointer;

      border-radius: 0.75rem;
      width: 160px;
      font-weight: 600;
      color: #ffffff;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & li {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 0.75rem;
      background-color: var(--bg-secondary);

      & img {
        cursor: pointer;
        margin-right: .75rem;
        align-items: center;
      }



      & input[type="checkbox"] {
        /* cursor: pointer;
        margin-right: .75rem;
        border-radius: 2rem;
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--border-primary); */
        display: none;
      }

      & button {
        margin-left: auto;
        border: none;
        background-color: unset;
      }
    }
  }
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--color-danger);
  border-radius: .75rem;
  padding: .75rem;
  margin-top: 2.25rem;
  color: #ffffff;

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
  }
  & button {
    margin-left: auto;
    border: none;
    background-color: unset;
    cursor: pointer;
  }
}